
<p *ngIf="laster"><em>Loading...</em></p>

<h1 id="tableLabel" class="title" *ngIf="!visKvittering">Kjop Billett</h1>
<div class="container" *ngIf="!visKvittering">
  <div *ngIf="visBillettSkjema" class="billettSkjema">
        <form [formGroup]="skjema" (ngSubmit)="vedSubmit()">
            <div class="form-group reisemal">
              <div class="destination-box">
                <label for="reiseMalFra">Fra:</label>
                <select id="reiseMalFra" formControlName="reiseMalFra" (change)="vedFraChange()">
                    <option value="disabled" selected disabled >Hvor vil du reise fra</option>
                    <option *ngFor="let strekning of fraDestinasjoner" value="{{strekning}}">{{strekning}}</option>
                  </select>
                <p class="alert alert-warning" [hidden]="skjema.controls.reiseMalFra.valid || (skjema.controls.reiseMalFra.pristine && !submitted)">
                    Destinasjon er obligatorisk.
                </p>
              </div>
              <div class="destination-box">
                <label for="reiseMalTil">Til:</label>
                <select id="reiseMalTil" formControlName="reiseMalTil" (change)="vedTilChange()">
                    <option *ngFor="let destinasjon of gyldigTilDestinasjoner; index as i " [selected]="i === 0" value="{{destinasjon}}">{{destinasjon}}</option>
                  </select>
                <p class="alert alert-warning" [hidden]="skjema.controls.reiseMalFra.valid || (skjema.controls.reiseMalFra.pristine && !submitted)">
                    Destinasjon er obligatorisk.
                </p>
              </div>
            </div>
            <div class="formGroup datoInput">
                <label>Når vil du reise</label>
                <input type="date" value="{{dagsDato}}" min="{{dagsDato}}" formControlName="reiseDato" (change)="hideRuteOgLugarUtvalg()" />
            </div>

            <div class="form-group antall">
                <div class="antallVoksen">
                    <label>Antall voksen</label>
                    <div class="antallControlls">
                      <span (click)="vedAntallVoksenMinus()">-</span>
                      <input type="number" min="1"  formControlName="antallVoksen" (change)="hideRuteOgLugarUtvalg()" readonly/>
                      <span (click)="vedAntallVoksenPlus()">+</span>
                    </div>
                </div>
                <div class="antallBarn">
                    <label>Antall barn</label>
                    <div class="antallControlls">
                      <span (click)="vedAntallBarnMinus()">-</span>
                      <input type="number" min="0"  formControlName="antallBarn" (change)="hideRuteOgLugarUtvalg()" readonly/>
                      <span (click)="vedAntallBarnPlus()">+</span>                     
                    </div>
                </div>
            </div>
            <p class="type">Billett Type</p>
            <div class="form-group billettType">
              <div class="billettTypeInput">
                <input type="radio" id="single" value="En vei"  checked="checked" formControlName="billettType" (change)="vedBillettTypeChange()"/>
                <label for="single">En vei </label>
              </div>
              <div class="billettTypeInput">
                <input type="radio" id="turRetur" value="Retur"  formControlName="billettType" (change)="vedBillettTypeChange()"/>
                <label for="turRetur">Tur-Retur</label>

              </div>
            </div>

            <!-- <p [hidden]="!skjema.valid" (click)="vedSokClick()">Søk</p> -->
 
            
            <!-- <div class="form-group">
                <button type="submit" *ngIf="visFormLagre" [disabled]="!skjema.valid" class="btn btn-primary">Registrer</button>
                <button type="submit" *ngIf="!visFormLagre" [disabled]="!skjema.valid" class="btn btn-primary">Endre</button>
                <button class="btn btn-default" (click)="tilbakeTilListe()">Tilbake</button>
            </div> -->
        </form>
    </div>
            
    <div *ngIf="visRuteUtvalg" id="funnetRuterContainer">
        <p class="velgAvgang">Avganger</p>
        <div id="funnetRuter">
            <div *ngFor="let funnetRute of funnetRuter" class="{{funnetRute.id === billett.ruteId ? 'selectedRute' : ''}} ruteChoice" (click)="vedFunnetRuteClick(funnetRute)">
                <p class="boatNavn">{{funnetRute.boatNavn}}</p>
                <p class="pris">Pris: {{funnetRute.totalPris}}</p>
                <p class="datoAvgang">Avgang: {{billett.departureDato}} kl: {{funnetRute.avgang}}</p>
                <p class="datoAnkomst">Ankomst: {{billett.returnDato}}</p>
            </div>
        </div>
        <p *ngIf="valgtRute == null" class="velgAvgangError">Velg avgang</p>
    </div>

    <div *ngIf="visLugarUtvalg" id="lugarContainer">
        <form [formGroup]="lugarSkjema" id="lugarForm">
            <p class="lugarTitle">Lugar</p>
            <div class="form-group lugarInputContainer">
              <div class="lugarTypeInput">
                <input type="radio" id="standard" value="Standard"  checked="checked" formControlName="lugar" (change)="oppdaterPrisMedLugar()"/>
                <label for="standard">Standard {{valgtRute.prisStandardLugar}}kr</label>
              </div>
              <div class="lugarTypeInput">
                <input type="radio" id="premium" value="Premium"  formControlName="lugar" (change)="oppdaterPrisMedLugar()"/>
                <label for="premium">Premium {{valgtRute.prisPremiumLugar}}kr</label>
              </div>
            </div>
        </form>
        <div class="neste">
          <p class="totalPris">Total Pris: {{billettPris}}</p>
          <p class="nesteButton btn btn-primary" (click)="vedBilettNeste()">Neste</p>
        </div>
    </div>
    
    <div *ngIf="visKundeSkjema" id="kundeSkjemaContainer">
        <form [formGroup]="kundeSkjema" class="kundeForm">
            <div class="inputGroupKunde">
                <div class="inputBox">
                  <label>Fornavn</label>
                  <input class="form-control" formControlName="fornavn" required/>
                  <span class="requiredStar" *ngIf="kundeSkjema.get('fornavn').hasError('required')">*</span>
                  <p class="alert alert-warning" *ngIf="kundeSkjema.get('fornavn').hasError('pattern')">
                      Mellom 2-40 bokstaver
                  </p>
                </div>
                <div class="inputBox">
                  <label>Etternavn</label>
                  <input class="form-control" formControlName="etternavn" required/>
                  <span class="requiredStar" *ngIf="kundeSkjema.get('etternavn').hasError('required')">*</span>
                  <p class="alert alert-warning" *ngIf="kundeSkjema.get('etternavn').hasError('pattern')">
                      Mellom 2-40 bokstaver
                  </p>
                </div>
              </div>
 
              <div class="inputGroupKunde">
                <div class="inputBox">
                  <label>Telefonnr</label>
                  <input class="form-control" formControlName="telefonnr" required/>
                  <span class="requiredStar" *ngIf="kundeSkjema.get('telefonnr').hasError('required')">*</span>
                  <p class="alert alert-warning" *ngIf="kundeSkjema.get('telefonnr').hasError('pattern')">
                      Ugyldig telefonnr eks. 934829238
                  </p>
                </div>
                <div class="inputBox">
                  <label>E-post</label>
                  <input class="form-control" formControlName="epost" required />
                  <span class="requiredStar" *ngIf="kundeSkjema.get('epost').hasError('required')">*</span>
                  <p class="alert alert-warning" *ngIf="kundeSkjema.get('epost').hasError('pattern')">
                      Ugyldig epos eks. test@oslomet.no
                  </p>
                </div>
              </div>
 
              <div class="inputGroupKunde">
                <div class="inputBox">
                  <label>Adresse</label>
                  <input class="form-control" formControlName="adresse" required />
                  <span class="requiredStar" *ngIf="kundeSkjema.get('adresse').hasError('required')">*</span>
                  <p class="alert alert-warning" *ngIf="kundeSkjema.get('adresse').hasError('pattern')">
                      Ugyldig karakter
                  </p>
                </div>
                <div class="inputBox">
                  <label>Poststed</label>
                  <input class="form-control" formControlName="poststed" required/>
                  <span class="requiredStar" *ngIf="kundeSkjema.get('poststed').hasError('required')">*</span>
                  <p class="alert alert-warning" *ngIf="kundeSkjema.get('poststed').hasError('pattern')">
                      Mellom 2-40 bokstaver
                  </p>
                </div>
              </div>
 
              <div class="inputGroupKunde">
                <div class="inputBox">
                  <label>Postnr</label>
                  <input class="form-control" formControlName="postnr" required/>
                  <span class="requiredStar" *ngIf="kundeSkjema.get('postnr').hasError('required')">*</span>
                  <p class="alert alert-warning" *ngIf="kundeSkjema.get('postnr').hasError('pattern')">
                      4 siffer
                </div>
                <div class="inputBox">
 
                </div>
              </div>
              <div class="form-group kundeFormButtons">
                  <button class="btn btn-primary" [disabled]="!kundeSkjema.valid" (click)="vedKundeNeste()">Neste</button>
                  <button class="btn btn-default" (click)="vedKundeTilbake()">Tilbake</button>
              </div>
        </form>
    </div>


    <div *ngIf="visKredittSkjema">
        <form [formGroup]="kredittSkjema">
            <div class="destinationGroup">
                <div class="inputBox">
                  <label>Kortholdersnavn</label>
                  <input class="form-control" formControlName="kortholdersnavn" required/>
                  <span class="requiredStar" *ngIf="kredittSkjema.get('kortholdersnavn').hasError('required')">*</span>
                  <p class="alert alert-warning" *ngIf="kredittSkjema.get('kortholdersnavn').hasError('pattern')">
                      Mellom 2-40 bokstaver
                  </p>
                </div>
                <div class="inputBox">
                  <label>Kortnummer</label>
                  <input class="form-control" formControlName="kortnr" required/>
                  <span class="requiredStar" *ngIf="kredittSkjema.get('kortnr').hasError('required')">*</span>
                  <p class="alert alert-warning" *ngIf="kredittSkjema.get('kortnr').hasError('pattern')">
                      16 siffer
                  </p>
                </div>
              </div>
 
              <div class="destinationGroup">
                <div class="inputBox">
                  <label>Card Verification Code (CVV/CVC/CID)</label>
                  <input class="form-control" formControlName="cardVerificationCode" required/>
                  <span class="requiredStar" *ngIf="kredittSkjema.get('cardVerificationCode').hasError('required')">*</span>
                  <p class="alert alert-warning" *ngIf="kredittSkjema.get('cardVerificationCode').hasError('pattern')">
                     3 siffer
                  </p>
                </div>
                <div class="inputBox utlopsDato">
                  <div class="utlopsFlex">
                    <div class="utlopsDatoBox">
                      <label>Måned</label>
                        <select class="form-control" formControlName="utlopsMaaned" required>
                          <option value="01">01</option>
                          <option value="02">02</option>
                          <option value="03">03</option>
                          <option value="04">04</option>
                          <option value="05">05</option>
                          <option value="06">06</option>
                          <option value="07">07</option>
                          <option value="08">08</option>
                          <option value="09">09</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                        </select>
                        <span class="requiredStar starUtlopsDato" *ngIf="kredittSkjema.get('utlopsMaaned').hasError('required')">*</span>
                        <p class="alert alert-warning" *ngIf="kredittSkjema.get('utlopsMaaned').hasError('pattern')">
                            2 siffer
                        </p>
                    </div>
                    <div class="utlopsDatoBox">
                        <label>År</label>
                        <input class="form-control" formControlName="utlopsAar" required />
                        <span class="requiredStar starUtlopsDato" *ngIf="kredittSkjema.get('utlopsAar').hasError('required')">*</span>
                        <p class="alert alert-warning" *ngIf="kredittSkjema.get('utlopsAar').hasError('pattern')">
                            2 siffer
                        </p>
                    </div>
                  </div>
                  <span class="utlopsDatoError">{{valideringUtlopsDato()}}</span>
                </div>
              </div>

              <div class="form-group kredittFormButtons" >
                  <button class="btn btn-primary" [disabled]="!kredittSkjema.valid || ugyldigKredittUtlopsdato" (click)="lagreKunde()">Lagre</button>
                  <button class="btn btn-default" (click)="vedKredittTilbake()">Tilbake</button>
              </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center row" *ngIf="this.visKvittering">
    <div class="col-md-8">
      <div class="p-3 bg-white rounded">
        <div class="text-right mt-3">
          <h4 class="text-danger mb-0">Sommerbrett.no</h4><br />
        </div>
        <div id="statement"><h2>Takk for du valgte å reise med oss, God tur!</h2></div><br>
        <div class="row">
          <div class="col-md-6">
            <h1 class="text-uppercase">Kvittering</h1>
            <div class="billed"><span class="font-weight-bold text-uppercase">Navn:</span><span class="ml-1" id="navn">{{kunde.fornavn}} {{kunde.etternavn}}</span></div>
            <div class="billed"><span class="font-weight-bold text-uppercase">Telefonnr:</span><span class="ml-1" id="telefonnr">{{kunde.telfonnr}}</span></div>
            <div class="billed"><span class="font-weight-bold text-uppercase">Adress:</span><span class="ml-1" id="adress">{{kunde.adresse}}</span></div>
            <div class="billed"><span class="font-weight-bold text-uppercase">Billett ID:</span><span class="ml-1" id="billettId">{{billett.id}}</span></div>
            <div class="billed"><span class="font-weight-bold text-uppercase">Dato:</span><span class="ml-1" id="currentDate">{{getCurrentDateString()}}</span></div>
          </div>
        </div>
        <div class="mt-3">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Fra</th>
                  <th></th>
                  <th></th>
                  <th>Til</th>
                  <th>Pris</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="fra">{{billett.destinationFrom}}</td>
                  <th></th>
                  <th></th>
                  <td id="til">{{billett.destinationTo}}</td>
                </tr>
              </tbody>

              <thead>
                <tr>

                  <th>Fra Dato</th>
                  <th></th>
                  <th></th>
                  <th>Til Dato</th>
                  <th></th>
                </tr>

              </thead>
              <tbody>
                <tr>
                  <td id="datoFra">{{billett.departureDato}}</td>
                  <th></th>
                  <th></th>
                  <td id="datoTil">{{billett.returnDato}}</td>
                  <td id="returpris"></td>
                </tr>
              </tbody>

              <thead>
                <tr>
                  <th>Billettype</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td id="billettType">{{billett.ticketType}}</td>
                  <th></th>
                  <th></th>
                  <th></th>
                  <td id="billiettpris"></td>
                </tr>
              </tbody>

              <thead>
                <tr>
                  <th>Antall Voksen</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="antallVoksen">{{billett.antallAdult}}</td>
                  <td></td>
                  <td></td>
                  <th></th>
                  <td id="voksenpris"></td>
                </tr>
              </tbody>

              <thead>

                <tr>
                  <th>Antall Barn</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="antallBarn">{{billett.antallChild}}</td>
                  <th></th>
                  <th></th>
                  <th></th>
                  <td id="barnpris"></td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th>Lugar Type</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="billettKlasse">{{billett.lugarType}}</td>
                  <th></th>
                  <th></th>
                  <th></th>
                  <td id="klassettpris"></td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th>Totalpris</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <td id="totallpris" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">{{billett.pris}}</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <p (click)="vedKjopOk()" id="buttonKvittering" class="btn btn-success">OK</p><br>
      </div>
    </div>
  </div>
