<div class="container mt-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-8">
      <div class="p-3 bg-white rounded">
        <div class="text-right mt-3">
          <h4 class="text-danger mb-0">Sommerbrett.no</h4><br />
        </div>
        <div id="statement"><h2>Takk for du valgte å reise med oss, God tur!</h2></div><br>
        <div class="row">
          <div class="col-md-6">
            <h1 class="text-uppercase">Kvittering</h1>
            <div class="billed"><span class="font-weight-bold text-uppercase">Navn:</span><span class="ml-1" id="navn"></span></div>
            <div class="billed"><span class="font-weight-bold text-uppercase">Telefonnr:</span><span class="ml-1" id="telefonnr"></span></div>
            <div class="billed"><span class="font-weight-bold text-uppercase">Adress:</span><span class="ml-1" id="adress"></span></div>
            <div class="billed"><span class="font-weight-bold text-uppercase">Billett ID:</span><span class="ml-1" id="billettId"></span></div>
            <div class="billed"><span class="font-weight-bold text-uppercase">Dato:</span><span class="ml-1" id="currentDate"></span></div>
          </div>
        </div>
        <div class="mt-3">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Fra</th>
                  <th></th>
                  <th></th>
                  <th>Til</th>
                  <th>Pris</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="fra"></td>
                  <th></th>
                  <th></th>
                  <td id="til"></td>
                </tr>
              </tbody>

              <thead>
                <tr>

                  <th>Fra Dato</th>
                  <th></th>
                  <th></th>
                  <th>Til Dato</th>
                  <th></th>
                </tr>

              </thead>
              <tbody>
                <tr>
                  <td id="datoFra"></td>
                  <th></th>
                  <th></th>
                  <td id="datoTil"></td>
                  <td id="returpris">90</td>
                </tr>
              </tbody>

              <thead>
                <tr>
                  <th>Antall Voksen</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="antallVoksen"></td>
                  <td></td>
                  <td></td>
                  <th></th>
                  <td id="voksenpris">40</td>
                </tr>
              </tbody>

              <thead>

                <tr>
                  <th>Antall Barn</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="antallBarn"></td>
                  <th></th>
                  <th></th>
                  <th></th>
                  <td id="barnpris">30</td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th>Billettype</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <td id="billettType"></td>
                  <td id="billiettpris">60</td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th>Klasse</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="billettKlasse"></td>
                  <th></th>
                  <th></th>
                  <th></th>
                  <td id="klassettpris">80</td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th>Totalpris</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <td id="totallpris" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">1000</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <a href="index.html" id="buttonKvittering" class="btn btn-success">OK</a><br>
      </div>
    </div>
  </div>
</div>
