<h1 id="tableLabel" *ngIf="!visForm">Ruter</h1>

<p *ngIf="laster"><em>Loading...</em></p>

<div id="tableContainer" class="table" *ngIf="visRuterListe">
    <table>
        <thead>
            <tr>
                <th>Båtnavn</th>
                <th>Fra</th>
                <th>Til</th>
                <th>Pris en-vei</th>
                <th>Pris to-vei</th>
                <th>Rabatt til Barn (%)</th>
                <th>Pris standard lugar</th>
                <th>Pris premium lugar</th>
                <th>Avgang tid</th>
                <th>Antall Dager (En-vei)</th>
                <th>Antall Dager (To-vei)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rute of alleRuter">
                <td>{{ rute.boatNavn }}</td>
                <td>{{ rute.ruteFra }}</td>
                <td>{{ rute.ruteTil }}</td>
                <td>{{ rute.prisEnvei }} kr</td>
                <td>{{ rute.prisToVei }} kr</td>
                <td>{{ rute.prisRabattBarn }}</td>
                <td>{{ rute.prisStandardLugar }}</td>
                <td>{{ rute.prisPremiumLugar }}</td>
                <td>{{ rute.avgang }}</td>
                <td>{{ rute.antallDagerEnVei }}</td>
                <td>{{ rute.antallDagerToVei }}</td>
                <!-- <td><button class="btn btn-danger" (click)="slettEnRute(rute.id)">Slett</button></td> -->
                <td><button class="btn btn-danger" (click)="visModal(rute)">Slett</button></td>
                <td><button class="btn btn-success" (click)="hentEnRute(rute.id)">Endre</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="registrerButtonContainer">
    <button class="btn btn-success registrerButton" *ngIf="visRuterListe" (click)="visRegistrerRuteForm()">Registrer Rute</button>
</div>


<div class="container">
    <div *ngIf="visForm">
        <h2 class="formTitle" *ngIf="visFormLagre">Registrer Rute</h2>
        <h2 class="formTitle" *ngIf="visFormEndre">Endre Rute</h2>
        <form [formGroup]="skjema" (ngSubmit)="vedSubmit()">
            <div class="form-group inputBox">
                <label>Båtnavn</label>
                <input class="form-control" formControlName="boatNavn" required/>
                <span class="requiredStar" *ngIf="skjema.get('boatNavn').hasError('required')">*</span>
                <p class="alert alert-warning" *ngIf="skjema.get('boatNavn').hasError('pattern')">
                    2-30 bokstaver
                </p>
            </div>
            <div class="form-group inputBox">
                <label>Fra</label>
                <input class="form-control" formControlName="ruteFra" required/>
                <span class="requiredStar" *ngIf="skjema.get('ruteFra').hasError('required')">*</span>
                <p class="alert alert-warning" *ngIf="skjema.get('ruteFra').hasError('pattern')">
                    2-30 bokstaver
                </p>
            </div>
            <div class="form-group inputBox">
                <label>Til</label>
                <input class="form-control" formControlName="ruteTil" required/>
                <span class="requiredStar" *ngIf="skjema.get('ruteTil').hasError('required')">*</span>
                <p class="alert alert-warning" *ngIf="skjema.get('ruteTil').hasError('pattern')">
                    2-30 bokstaver
                </p>
            </div>
            <div class="form-group inputBox">
                <label>Pris en-vei (NOK)</label>
                <input class="form-control" type="text" formControlName="prisEnvei" required/>
                <span class="requiredStar" *ngIf="skjema.get('prisEnvei').hasError('required')">*</span>
                <p class="alert alert-warning" *ngIf="skjema.get('prisEnvei').hasError('pattern')">
                    Ugyldig pris/tall
                </p>
                <p *ngIf="skjema.controls.prisEnvei.valid">{{valideringNummer('prisEnvei')}}</p>
            </div>
            <div class="form-group inputBox">
                <label>Pris to-vei (NOK)</label>
                <input class="form-control" type="text" formControlName="prisToVei" required/>
                <span class="requiredStar" *ngIf="skjema.get('prisToVei').hasError('required')">*</span>
                <p class="alert alert-warning" *ngIf="skjema.get('prisToVei').hasError('pattern')">
                    Ugyldig pris/tall
                </p>
                <p *ngIf="skjema.controls.prisToVei.valid">{{valideringNummer('prisToVei')}}</p>
            </div>
            <div class="form-group inputBox">
                <label>Rabatt til Barn (%)</label>
                <input class="form-control" type="text" min="0" max="100" formControlName="prisRabattBarn" required/>
                <span class="requiredStar" *ngIf="skjema.get('prisRabattBarn').hasError('required')">*</span>
                <p class="alert alert-warning" *ngIf="skjema.get('prisRabattBarn').hasError('pattern')">
                    Ugyldig tall (kun 0-100)
                </p>
                <p *ngIf="skjema.controls.prisRabattBarn.valid">{{valideringNummer('rabatt')}}</p>
            </div>
            <div class="form-group inputBox">
                <label>Pris Standard Lugar (NOK)</label>
                <input class="form-control" formControlName="prisStandardLugar" />
                <span class="requiredStar" *ngIf="skjema.get('prisStandardLugar').hasError('required')">*</span>
                <p class="alert alert-warning" *ngIf="skjema.get('prisStandardLugar').hasError('pattern')">
                    Ugyldig pris/tall
                </p>
                <p *ngIf="skjema.controls.prisStandardLugar.valid">{{valideringNummer('prisStandardLugar')}}</p>
            </div><div class="form-group inputBox">
                <label>Pris Premium Lugar (NOK)</label>
                <input class="form-control"  formControlName="prisPremiumLugar" />
                <span class="requiredStar" *ngIf="skjema.get('prisPremiumLugar').hasError('required')">*</span>
                <p class="alert alert-warning" *ngIf="skjema.get('prisPremiumLugar').hasError('pattern')">
                    Ugyldig pris/tall
                </p>
                <p *ngIf="skjema.controls.prisPremiumLugar.valid">{{valideringNummer('prisPremiumLugar')}}</p>
            </div>
            <div class="form-group inputBox" id="avgang">
                <label>Avgang</label>
                <input class="form-control" type="time" min="02:00" max="25:00" formControlName="avgang" onkeydown="return false"/>
                <span class="requiredStar" *ngIf="skjema.get('avgang').hasError('required')">*</span>
                <p class="alert alert-warning" *ngIf="skjema.get('avgang').hasError('pattern')">
                    Ugyldig tid
                </p>
            </div>
            <div class="form-group antall">
                <div class="antallDagerEnVei">
                    <label>Antall Dager En-vei</label>
                    <div class="antallControlls">
                      <span (click)="vedAntallDagerEnveiMinus()">-</span>
                      <input type="number" min="0"  formControlName="antallDagerEnVei" readonly/>
                      <span (click)="vedAntallDagerEnveiPlus()">+</span>
                    </div>
                </div>
                <div class="antallDagerToVei">
                    <label>Antall Dager To-vei</label>
                    <div class="antallControlls">
                      <span (click)="vedAntallDagerToVeiMinus()">-</span>
                      <input type="number" min="0"  formControlName="antallDagerToVei" readonly/>
                      <span (click)="vedAntallDagerToVeiPlus()">+</span>                     
                    </div>
                </div>
            </div>

            <div class="form-group buttonBox">
                <button type="submit" *ngIf="visFormLagre" [disabled]="!skjema.valid" class="btn btn-primary">Registrer</button>
                <button type="submit" *ngIf="!visFormLagre" [disabled]="!skjema.valid" class="btn btn-primary">Endre</button>
                <button class="btn btn-default" (click)="tilbakeTilListe()">Tilbake</button>
            </div>
        </form>
    </div>
</div>