.table {
  font-size: 12px;
  width: auto;
  margin-right: auto;
  align-content: center;
  table-layout: fixed;
  border-collapse: collapse;
  overflow-x: auto;
}
.scroll {
  display: inline-block;
  width: 100%;
  text-align: right;
}
