<h1 id="tableLabel">Billetter</h1>

<p *ngIf="laster"><em>Loading...</em></p>

<div class="table">
  <table *ngIf="!laster"
         class="table table-striped"
         aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Fronvn</th>
        <th>Etternavn</th>
        <th>Fra</th>
        <th>Til</th>
        <th>Avgang</th>
        <th>Ankomst</th>
        <th>Antall Voksne</th>
        <th>Antall Barn</th>
        <th>Billetttype</th>
        <th>Lugar</th>
        <th>Pris</th>
        <th>Telefonnr</th>
        <th>E-post</th>
        <th>Addresse</th>
        <th>Poststed</th>
        <th>Postnr</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let billett of alleBillettOgKunder">
        <td>{{ billett.fornavn }}</td>
        <td>{{ billett.etternavn }}</td>
        <td>{{ billett.destinationFrom }}</td>
        <td>{{ billett.destinationTo }}</td>
        <td>{{ billett.departureDato }}</td>
        <td>{{ billett.returnDato }}</td>
        <td>{{ billett.antallAdult }}</td>
        <td>{{ billett.antallChild }}</td>
        <td>{{ billett.ticketType }}</td>
        <td>{{ billett.lugarType }}</td>
        <td>{{ billett.pris }}</td>
        <td>{{ billett.telfonnr }}</td>
        <td>{{ billett.epost }}</td>
        <td>{{ billett.adresse }}</td>
        <td>{{ billett.poststed }}</td>
        <td>{{ billett.postnr }}</td>

        <td>
          <button class="btn btn-danger" (click)="slettEnKunde(billett.id)">
            Slett
          </button>
        </td>
        <td>
          <button class="btn btn-success" [routerLink]="['/endre', billett.id]">
            Endre
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

