<div>
  <h2>Administrator Logge inn </h2>
  <form [formGroup]="Skjema" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td>
          <label>Brukernavn:</label>
        </td>
        <td>
          <input type="text" formControlName="brukernavn">
        </td>
        <td *ngIf="this.Skjema.controls.brukernavn.status=='INVALID'">
        </td>
      </tr>
      <tr>
        <td>
          <label>Passord:</label>
        </td>
        <td>
          <input type="password" formControlName="passord">
        </td>
        <td *ngIf="this.Skjema.controls.passord.status=='INVALID'">
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" [disabled]="!Skjema.valid" (click)="loggIn()">Logge inn</button>
        </td>
      </tr>
    </table>
    *Passordet må bestå minimum 8 tegn, minst en bokstav og et tall
  </form>
</div>
