<!--<div>
  <h2>Administrator Logge inn </h2>
  <form [formGroup]="Skjema" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td>
          <label>Brukernavn:</label>
        </td>
        <td>
          <input type="text" formControlName="brukernavn">
        </td>
        <td *ngIf="this.Skjema.controls.brukernavn.status=='INVALID'">
          <span id="brukernavenwarning" [hidden]="this.Skjema.controls.brukernavn.status=='VALID'">Må skrive Brukernavn</span>

        </td>
      </tr>
      <tr>
        <td>
          <label>Passord:</label>
        </td>
        <td>
          <input type="text" formControlName="passord">
        </td>
        <td *ngIf="this.Skjema.controls.passord.status=='INVALID'">
          <span id="passordwarning" [hidden]="this.Skjema.controls.passord.status=='VALID'">Minst 6 ord og inneholde både tall,store/små bokstaver</span>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" [disabled]="!Skjema.valid" (click)="loggIn()">Logge inn</button>
        </td>
      </tr>
    </table>
  </form>
</div>-->

<div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">

    <mat-form-field floatLabel="never" class="form-element">
      <input type="text" matInput placeholder="Brukernavn" formControlName="brukernavn">
      <mat-error *ngIf="formGroup.controls['brukernavn'].invalid">
        {{getError('brukernavn')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="never" class="form-element">
      <input type="password" matInput placeholder="Passord" formControlName="passord">
      <mat-error *ngIf="!formGroup.controls['passord'].valid">
        {{getError('passord')}}
      </mat-error>
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>

  </form>
</div>
