<div>
  <h2>Administrator Logge inn </h2>
  <form [formGroup]="Skjema" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td>
          <label>Brukernavn:</label>
        </td>
        <td>
          <input type="text" formControlName="brukernavn">
        </td>
        <td *ngIf="this.Skjema.controls.brukernavn.status=='INVALID'">
          <span id="brukernavenwarning" [hidden]="this.Skjema.controls.brukernavn.status=='VALID'">Må skrive Brukernavn</span>
        
        </td>
      </tr>
      <tr>
        <td>
          <label>Passord:</label>
        </td>
        <td>
          <input type="text" formControlName="passord">
        </td>      
        <td *ngIf="this.Skjema.controls.passord.status=='INVALID'">
          <span id="passordwarning" [hidden]="this.Skjema.controls.passord.status=='VALID'">Minst 6 ord og inneholde både tall,store/små bokstaver</span>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" [disabled]="!Skjema.valid" (click)="loggIn()">Logge inn</button>
        </td>
      </tr>
    </table>
  </form>
</div>
