<h1 id="tableLabel" class="title">Endre</h1>

<p *ngIf="laster"><em>Loading...</em></p>

<div class="container">
    <div *ngIf="visBillettSkjema" class="billettSkjema">
        <form [formGroup]="skjema" (ngSubmit)="vedSubmit()">
            <div class="form-group reisemal">
                <div class="destination-box">
                    <label for="reiseMalFra">Fra:</label>
                    <select id="reiseMalFra" formControlName="reiseMalFra" (change)="vedFraEndre()">
                        <option value="disabled" selected disabled >Hvor vil du reise fra</option>
                        <option *ngFor="let strekning of fraDestinasjoner" value="{{strekning}}">{{strekning}}</option>
                      </select>
                    <p class="alert alert-warning" [hidden]="skjema.controls.reiseMalFra.valid || (skjema.controls.reiseMalFra.pristine && !submitted)">
                        Destinasjon er obligatorisk.
                    </p>
                </div>
                <div class="destination-box">
                    <label for="reiseMalTil">Til:</label>
                    <select id="reiseMalTil" formControlName="reiseMalTil" (change)="vedTilChange()">
                        <option *ngFor="let destinasjon of gyldigTilDestinasjoner; index as i" [selected]="destinasjon === billett.destinationTo" value="{{destinasjon}}">{{destinasjon}}</option>
                      </select>
                    <p class="alert alert-warning" [hidden]="skjema.controls.reiseMalFra.valid || (skjema.controls.reiseMalFra.pristine && !submitted)">
                        Destinasjon er obligatorisk.
                    </p>
                </div>
            </div>
            <div class="formGroup datoInput">
                <label>Når vil du reise</label>
                <input type="date" value="{{dagsDato}}" min="{{dagsDato}}" formControlName="reiseDato" (change)="hideRuteOgLugarUtvalg()" />
            </div>

            <div class="form-group antall">
                <div class="antallVoksen">
                    <label>Antall voksen</label>
                    <div class="antallControlls">
                        <span (click)="vedAntallVoksenMinus()">-</span>
                        <input type="number" min="1"  formControlName="antallVoksen" (change)="hideRuteOgLugarUtvalg()" readonly/>
                        <span (click)="vedAntallVoksenPlus()">+</span>
                    </div>
                </div>
                <div class="antallBarn">
                    <label>Antall barn</label>
                    <div class="antallControlls">
                        <span (click)="vedAntallBarnMinus()">-</span>
                        <input type="number" min="0"  formControlName="antallBarn" (change)="hideRuteOgLugarUtvalg()" readonly/>
                        <span (click)="vedAntallBarnPlus()">+</span>
                    </div>
                </div>
            </div>
            <p class="type">Billett Type</p>
            <div class="form-group billettType">
                <div class="billettTypeInput">
                    <input type="radio" id="single" value="En vei"  checked="checked" formControlName="billettType" (change)="vedBillettTypeChange()"/>
                    <label for="single">En vei </label>
                </div>
                <div class="billettTypeInput">
                    <input type="radio" id="turRetur" value="Retur"  formControlName="billettType" (change)="vedBillettTypeChange()"/>
                    <label for="turRetur">Tur-Retur</label>
                </div>
            </div>

            <!-- <p [hidden]="!skjema.valid" (click)="vedSokClick()">Søk</p> -->
 
            
            <!-- <div class="form-group">
                <button type="submit" *ngIf="visFormLagre" [disabled]="!skjema.valid" class="btn btn-primary">Registrer</button>
                <button type="submit" *ngIf="!visFormLagre" [disabled]="!skjema.valid" class="btn btn-primary">Endre</button>
                <button class="btn btn-default" (click)="tilbakeTilListe()">Tilbake</button>
            </div> -->
        </form>
    </div>
            
    <div *ngIf="visRuteUtvalg" id="funnetRuterContainer">
        <p class="velgAvgang">Velg Avgang</p>
        <div id="funnetRuter">
            <div *ngFor="let funnetRute of funnetRuter" class="{{funnetRute.id === billett.ruteId? 'selectedRute' : ''}} ruteChoice" (click)="vedFunnetRuteClick(funnetRute)">
                <p class="boatNavn">{{funnetRute.boatNavn}}</p>
                <p class="pris">Pris: {{funnetRute.totalPris}}</p>
                <p class="datoAvgang">Avgang: {{billett.departureDato}} kl: {{funnetRute.avgang}}</p>
                <p class="datoAnkomst">Ankomst: {{billett.returnDato}} kl: {{funnetRute.avgang}}</p>
            </div>
        </div>
    </div>

    <div *ngIf="visLugarUtvalg" id="lugarContainer">
        <form [formGroup]="lugarSkjema" id="lugarForm">
            <p class="lugarTitle">Lugar</p>
            <div class="form-group lugarInputContainer">
              <div class="lugarTypeInput">
                <input type="radio" id="standard" value="Standard"  checked="checked" formControlName="lugar" (change)="oppdaterPrisMedLugar()"/>
                <label for="standard">Standard {{valgtRute.prisStandardLugar}}kr</label>
              </div>
              <div class="lugarTypeInput">
                <input type="radio" id="premium" value="Premium"  formControlName="lugar" (change)="oppdaterPrisMedLugar()"/>
                <label for="premium">Premium {{valgtRute.prisPremiumLugar}}kr</label>
              </div>
            </div>
        </form>
        <div class="neste">
            <p class="totalPrisEndre">Total Pris: {{billettPris}}</p>
        </div>
        <!-- <p (click)="vedBilettNeste()">Neste</p> -->
    </div>
    
    <div *ngIf="visKundeSkjema">
        <form [formGroup]="kundeSkjema">
            <div class="destinationGroup">
                <div class="inputBox">
                  <label>Fornavn</label>
                  <input class="form-control" formControlName="fornavn" required/>
                  <span class="requiredStar" *ngIf="kundeSkjema.get('fornavn').hasError('required')">*</span>
                  <p class="alert alert-warning" *ngIf="kundeSkjema.get('fornavn').hasError('pattern')">
                      Mellom 2-40 bokstaver
                  </p>
                </div>
                <div class="inputBox">
                  <label>Etternavn</label>
                  <input class="form-control" formControlName="etternavn" required/>
                  <span class="requiredStar" *ngIf="kundeSkjema.get('etternavn').hasError('required')">*</span>
                  <p class="alert alert-warning" *ngIf="kundeSkjema.get('etternavn').hasError('pattern')">
                      Mellom 2-40 bokstaver
                  </p>
                </div>
              </div>
 
              <div class="destinationGroup">
                <div class="inputBox">
                  <label>Telefonnr</label>
                  <input class="form-control" formControlName="telefonnr" required/>
                  <span class="requiredStar" *ngIf="kundeSkjema.get('telefonnr').hasError('required')">*</span>
                  <p class="alert alert-warning" *ngIf="kundeSkjema.get('telefonnr').hasError('pattern')">
                      Ugyldig telefonnr eks. 934829238
                  </p>
                </div>
                <div class="inputBox">
                  <label>E-post</label>
                  <input class="form-control" formControlName="epost" required />
                  <span class="requiredStar" *ngIf="kundeSkjema.get('epost').hasError('required')">*</span>
                  <p class="alert alert-warning" *ngIf="kundeSkjema.get('epost').hasError('pattern')">
                      Ugyldig epos eks. test@oslomet.no
                  </p>
                </div>
              </div>
 
              <div class="destinationGroup">
                <div class="inputBox">
                  <label>Adresse</label>
                  <input class="form-control" formControlName="adresse" required />
                  <span class="requiredStar" *ngIf="kundeSkjema.get('adresse').hasError('required')">*</span>
                  <p class="alert alert-warning" *ngIf="kundeSkjema.get('adresse').hasError('pattern')">
                      Ugyldig karakter
                  </p>
                </div>
                <div class="inputBox">
                  <label>Poststed</label>
                  <input class="form-control" formControlName="poststed" required/>
                  <span class="requiredStar" *ngIf="kundeSkjema.get('poststed').hasError('required')">*</span>
                  <p class="alert alert-warning" *ngIf="kundeSkjema.get('poststed').hasError('pattern')">
                      Mellom 2-40 bokstaver
                  </p>
                </div>
              </div>
 
              <div class="destinationGroup">
                <div class="inputBox">
                  <label>Postnr</label>
                  <input class="form-control" formControlName="postnr" required/>
                  <span class="requiredStar" *ngIf="kundeSkjema.get('postnr').hasError('required')">*</span>
                  <p class="alert alert-warning" *ngIf="kundeSkjema.get('postnr').hasError('pattern')">
                      4 siffer
                </div>
                <div class="inputBox">
 
                </div>
              </div>
              <div class="form-group kundeFormButtons">
                  <button class="btn btn-primary" [disabled]="!kundeSkjema.valid || !skjema.valid || valgtRute === null" (click)="vedEndre()">Endre</button>
                  <button class="btn btn-default" (click)="vedEndreTilbake()">Tilbake</button>
              </div>
        </form>
</div>