<div class="row">
  <div id="homeContainer" class="container-fluid">
    <div class="header">
      <div id="statement"><h2>Surf dypt i historien med oss. Bestill plass på Sommerbrett</h2></div><br>
      <img id="image" src="assets/image/island3.jpg" alt="Boat">
      <br>
      <div class="kjopButtonBox">
        <a class="btn btn-primary" id="buttonKjop" routerLink="/kjop">Kjøp billetter</a><br>
      </div>
    </div>
    <div>
      <div style="margin-left: 70px" id="feil"></div>
    </div>
  </div>
</div>
